services:
  api:
    container_name: api-estudo
    image: api-estudo
    build: ./api
    restart: always
    ports:
      - 3003:3003

  nginx:
    container_name: nginx-estudo
    image: nginx-estudo
    build: ./nginx
    ports:
      - 80:80
    depends_on:
      - api

networks:
  default:
    name: network-estudo
