name: Deploy

on:
  push:
    branches: 
      - main

jobs:
  ## Test (CI)
  test:
    defaults:
      run:
        working-directory: ./api
    
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [20.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run test

  ## Deploy (CD)
  build:
    runs-on: self-hosted
    depends-on: test

    steps:
    - uses: actions/checkout@v2

    - name: Rebase to directory Gha Pipeline Docker
      run: cd ~ && cd gha-pipeline-docker

    - name: Get changes on repository
      run: git pull origin main

    - name: Stop containers
      run: docker compose stop || true

    - name: Down containers
      run: docker compose down || true

    - name: Remove old docker images API and NGINX
      run: docker rmi -f api-estudo && docker rmi -f nginx-estudo || true

    - name: Build Docker Container
      run: docker compose up -d